
* {
    box-sizing:inherit;
    padding: 0;
    margin: 1000;
    outline: none;
}


body {
    background-color: #facbcb;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}


h1 {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    
    
    
}





@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}