* {
    box-sizing:inherit;
    padding: 0;
    margin: 1000;
    outline: none;
}

body {
    background-color: #131212;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

p {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    width:0;
    animation: typewriter 2s steps(20) ;
   
    animation-delay: 2.5s,2.5s;
    display:inline-block;
    animation-fill-mode: forwards, none;
}


p2 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    width:0;
    animation: typewriter 2s steps(20) ;
   
    animation-delay: 5s,2.5s;
    display:inline-block;
    animation-fill-mode: forwards, none;
}


h2 {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    width:0;
    animation: lastone 2s steps(20) ;
    animation-iteration-count: 1;
    animation-name: lastone;
    animation-delay: 7.5s,2.5s;
    display:inline-block;
    animation-fill-mode: forwards, none;
}


h1 {
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(13);
    
}


@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes lastone {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
}